<div class="inner">
  <div class="panel">
    <div class="filter">
      <div class="module">
        <h2>Module</h2>
        <input id="module" type="text" value="{{module}}">
      </div>
      <div class="level">
        <h2>Level</h2>
        {{#each allLevels}}
          <div>
            <input type="checkbox" id="{{this}}" name="{{this}}" {{#ifArrayIncludes ../levels this}}checked{{/ifArrayIncludes}} />
            <label for="{{this}}">{{this}}</label>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="nav">
      <button class="update"><i class="fa fa-refresh"></i></button>
      <button class="first {{#ifValueEquals page 1}}disabled{{/ifValueEquals}}" data-value="first"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></button>
      <button class="prev {{#ifValueEquals page 1}}disabled{{/ifValueEquals}}" data-value="-1"><i class="fa fa-chevron-left"></i></button>
      <span class="page-no"></span>
      <button class="next {{#ifValueEquals page lastPage}}disabled{{/ifValueEquals}}" data-value="1"><i class="fa fa-chevron-right"></i></button>
      <button class="last {{#ifValueEquals page lastPage}}disabled{{/ifValueEquals}}" data-value="last"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="logs-container">
    <div class="logs"></div>
  </div>
</div>
